      <section class="hero-block">
        <amp-img class="hero-block__image" alt="{{{altText}}}" src="{{{heroImage}}}" width="600" height="400" layout="responsive"></amp-img>
        <div class="hero-block__content">
          <div class="hero-block__inner">
            <amp-img
              class="hero-block__sale"
              alt="Christmas sale, up to 50% off selected styles."
              src="{{{saleImage}}}"
              width="400"
              height="400"
            >
            </amp-img>
            <a
              href="https://hillarys.co.uk/arrange-an-appointment/?source={{{ source }}}"
              class="hero-block__cta"
              >REQUEST AN APPOINTMENT</a
            >
          </div>
        </div>
      </section>