    <section class="single-video" data-component="single-video" data-ga-category="component - single video">
      <div class="single-video__wrapper">
        <amp-youtube data-videoid="{{{videoId}}}" width="400" height="225" layout="responsive">
          <amp-img src="{{{placeholderSrc}}}" placeholder layout="fill" />
        </amp-youtube>
      </div>

      <div class="single-video__details">
        <h2 class="single-video__heading">{{{heading}}}</h2>

        <p class="single-video__text">{{{text}}}</p>
      </div>
    </section>