<!doctype html>
<html amp lang="en">

<head>
    {{>components/head head}}
    <!-- AMP scripts -->
    <style amp-custom>
        {{>styles/generic.styles}}

        {{>styles/amp-user-notification.styles}}
        {{>styles/header.styles}}
        {{>styles/mega-nav.styles}}
        {{>styles/animated-banner-strip.styles}}
        {{>styles/amp-date-countdown.styles}}
        {{>styles/breadcrumb.styles}}

        {{!-- main --}}
            {{>styles/feature-block.styles}}
            {{>styles/gallery-grid.styles}}
            {{>styles/hero-block.styles}}
            {{>styles/multiple-article-picker.styles}}
            {{>styles/page-header.styles}}
            {{>styles/single-video.styles}}
            {{>styles/social-feed.styles}}
        {{!-- /main --}}

        {{>styles/footer.styles}}
    </style>
</head>

<body>
    {{>components/amp-user-notification pageData.ampUserNotification}}
    {{>components/header pageData.header}}
    {{>components/animated-banner-strip pageData.animatedBannerStrip}}
    {{>components/amp-date-countdown pageData.ampDateCountdown}}
    {{>components/breadcrumb pageData.breadcrumb}}

    <main>
        {{>components/feature-block pageData.featureBlock}}
        {{>components/gallery-grid pageData.galleryGrid}}
        {{>components/hero-block pageData.heroBlock}}
        {{>components/multiple-article-picker pageData.multipleArticlePicker}}
        {{>components/page-header pageData.pageHeader}}
        {{>components/single-video pageData.singleVideo}}
        {{>components/social-feed pageData.socialFeed}}
    </main>

    {{>components/footer pageData.footer}}
</body>

</html>